//variables

//colores de base
$colorPrimario: black;
$colorSecundario: #e2c6ec;
$colorTerceario: #44015e;

//colores de tipografia

$h1Color: white;
$hGeneral: black;

//color de p´´´´
$pColor: black;

// Mixin
@mixin flex {
    display: flex;
    flex-direction: row;
}