//variables

//colores de base
$colorPrimario: black;
$colorSecundario: #e2c6ec;
$colorTerceario: #44015e;
$colorGreen: rgb(112, 194, 167);
$colorVisited: rgb(201, 247, 231);
$h1Color: white;

// Mixin
@mixin flex {
    display: flex;
    flex-direction: row;
}