@import "../utils/variables";


// Estilos para la sección principal (main) 
main {
    text-align: center;
    padding: 20px;
}

.data {
    overflow: hidden;
    
}

// Estilos para un elemento dentro del contenedor 
.item {
    justify-content: center;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px;
    width: 300px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 10px;


    // Enlaces button
    .caja {
        background-color: $colorTerceario;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        width: 130px;
        justify-self: center;
        text-align: center;
        transition: background-color 1s;
    }

    .caja:hover {
        background-color: $colorGreen;
    }

    .caja:active {
        background-color: $colorGreen;
    }

    .caja:visited {
        background-color: $colorVisited;
    }

    .colorClass {
        background-color: $colorSecundario;

    }

    .caja2 {
        background-color: $colorTerceario;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        color: $h1Color;
        width: 70px;
        align-self: center;
        transition: background-color 1s;
    }

    .caja2:hover {
        background-color: $colorGreen;
    }

    .caja2:active {
        background-color: $colorGreen;
    }

    .caja2:visited {
        background-color: $colorVisited;
    }
}

// Estilos para las secciones 
.infoMain {
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-bottom: 1rem;
    text-size-adjust: 30px;
}

.caja1 {
    background-color: $colorTerceario;
    border-radius: 10px;
    padding: 2px;
    color: $h1Color;
    width: 180px;
    align-self: center;
    transition: background-color 1s;

    .caja1:hover {
        background-color: $colorGreen;
    }

    .caja1:active {
        background-color: $colorGreen;
    }

    .caja1:visited {
        background-color: $colorVisited;
    }
}