// TABLET 
@media screen and (max-width: 1024px) {

    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Comfortaa', cursive;
        font-size: 12px;
    }

    .alingContact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
    }


    // Enlaces button TABLET
    .caja {
        background-color: #44015e;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        color: black;
        width: 130px;
        align-self: center;
    }

    .caja:hover {
        background-color: rgb(112, 194, 167);
    }

    .caja:active {
        background-color: rgb(112, 194, 167);
    }

    .caja:visited {
        background-color: rgb(201, 247, 231);
    }

    .caja1 {
        background-color: 44015e;
        border-radius: 10px;
        padding: 2px;
        color: black;
        width: 180px;
    }

    .caja1:hover {
        background-color: rgb(112, 194, 167);
    }

    .caja1:active {
        background-color: rgb(112, 194, 167);
    }

    .caja1:visited {
        background-color: rgb(201, 247, 231);
    }

    .caja2 {
        background-color: #44015e;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        color: black;
        width: 70px;
        align-self: center;
    }

    .caja2:hover {
        background-color: rgb(112, 194, 167);
    }

    .caja2:active {
        background-color: rgb(112, 194, 167);
    }

    .caja2:visited {
        background-color: rgb(201, 247, 231);
    }

}

// MOBILE 

@media screen and (max-width: 678px) {

    .bodyContact {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Comfortaa', cursive;
        font-size: 12px;
    }

    h1 {
        font-size: 40px;
    }


    .navbar ul {
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .gridRow {
        display: flex;
        flex-direction: column;
    }

    // Enlaces button 
    .caja {
        background-color: #44015e;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        color: black;
        width: 100px;
        align-self: center;
    }

    .caja:hover {
        background-color: black;
    }

    .caja:active {
        background-color: rgb(112, 194, 167);
    }

    .caja:visited {
        background-color: rgb(201, 247, 231);
    }

    .caja1 {
        background-color: #44015e;
        border-radius: 10px;
        padding: 2px;
        color: black;
        width: 140px;
    }

    .caja1:hover {
        background-color: rgb(112, 194, 167);
    }

    .caja1:active {
        background-color: rgb(112, 194, 167);
    }

    .caja1:visited {
        background-color: rgb(201, 247, 231);
    }

    .caja2 {
        background-color: #44015e;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        width: 50px;
        align-self: center;
    }

    .caja2:hover {
        background-color: rgb(112, 194, 167);
    }

    .caja2:active {
        background-color: rgb(112, 194, 167);
    }

    .caja2:visited {
        background-color: rgb(201, 247, 231);
    }

    .datos {
        font-size: 12px;
        font-weight: bold;
    }

}