@import "../utils/variables";



// TABLET 
@media screen and (max-width: 1024px) {

    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Comfortaa', cursive;
        font-size: 12px;
    }

    .alingContact {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;
    }

    .gridRow {
        overflow: hidden;
    }

    // Enlaces button TABLET
    .caja {
        background-color: $colorTerceario;
        border-radius: 10px;
        padding: 2px;
        color: $colorPrimario;
        text-decoration: none;
        width: 130px;
        align-self: center;
        transition: background-color 1s;

        .caja:hover {
            background-color: $colorGreen;
        }

        .caja:active {
            background-color: $colorGreen;
        }

        .caja:visited {
            background-color: $colorVisited;
        }
    }

    .caja1 {
        background-color: $colorTerceario;
        border-radius: 10px;
        padding: 2px;
        color: $colorPrimario;
        width: 180px;
        transition: background-color 1s;

        .caja1:hover {
            background-color: $colorGreen;
        }

        .caja1:active {
            background-color: $colorGreen;
        }

        .caja1:visited {
            background-color: $colorVisited;
        }
    }

    .caja2 {
        background-color: $colorTerceario;
        border-radius: 10px;
        padding: 2px;
        color: $colorPrimario;
        text-decoration: none;
        width: 70px;
        align-self: center;
        transition: background-color 1s;

        .caja2:hover {
            background-color: $colorGreen;
        }

        .caja2:active {
            background-color: $colorGreen;
        }

        .caja2:visited {
            background-color: $colorVisited;
        }
    }

}

// MOBILE 

@media screen and (max-width: 678px) {

    .bodyContact {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Comfortaa', cursive;
        font-size: 12px;
    }

    h1 {
        font-size: 40px;
    }


    .navbar ul {
        display: flex;
        flex-wrap: wrap;
    }

    .row {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .gridRow {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    // Enlaces button 
    .caja {
        background-color: $colorTerceario;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        color: $colorPrimario;
        width: 100px;
        align-self: center;
        transition: background-color 1s;

        .caja:hover {
            background-color: $colorGreen;
        }

        .caja:active {
            background-color: $colorGreen;
        }

        .caja:visited {
            background-color: $colorVisited;
        }
    }

    .caja1 {
        background-color: $colorTerceario;
        border-radius: 10px;
        padding: 2px;
        color: $colorPrimario;
        width: 140px;
        transition: background-color 1s;

        .caja1:hover {
            background-color: $colorGreen;
        }

        .caja1:active {
            background-color: $colorGreen;
        }

        .caja1:visited {
            background-color: $colorVisited;
        }
    }

    .caja2 {
        background-color: $colorTerceario;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        width: 50px;
        align-self: center;
        transition: background-color 1s;

        .caja2:hover {
            background-color: $colorGreen;
        }

        .caja2:active {
            background-color: $colorGreen;
        }

        .caja2:visited {
            background-color: $colorVisited;
        }
    }

    .datos {
        font-size: 12px;
        font-weight: bold;
    }

}