@import "../utils/variables";


//Contacto 
/* Estilos para el formulario */

.h1Trabajo {
    color: $colorPrimario;
}

.container {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    margin-bottom: 6px;
    justify-content: center;
}

.textoRecordatorio {
    color: grey;
    font-size: 12px;
}

.input {
    .textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.datos {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: bold;
}


.alingContact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contactoMain {
    text-align: center;
    justify-content: center;
    align-items: center;
}
