@import "../utils/variables";


//Contacto 
/* Estilos para el formulario */

.h1Trabajo {
    color: $colorPrimario;
}

.rows {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.contactoMain {
    text-align: center;
    justify-content: center;
    align-items: center;

    .textoRecordatorio {
        display: flex;
        
        color: grey;
        font-size: 14px;
    }
}

.label {
    display: flex;
    margin-bottom: 6px;
    justify-content: center;
}

.input {
    .textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.buttonContact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}


.datos {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: bold;
}