aside {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.700);


    .asideA {
        color: black;
        text-decoration: none;
    }
}